.glasses{
  background-color: bisque;
}
.img-fluid1{
  width: 80px;
  height: 40px;
}
.img-fluid-top{
  position: relative;
  top: 125px;
  left: 2px;
  width: 271px;
  height: 130px;
  z-index: 2;
}

.img-fluid-botom{
  position: relative;
  bottom: 125px;
  z-index: 1;
}